nav{
    background-color: rgb(11, 6, 26);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.signup-link{
    background: rgb(200, 13, 13);
    border-radius: 20px;
    padding: 5px 15px;
}
.signup-link:hover{
    background-color: red;
}

.logo img{
    width: 150px;
}

.nav-item a{
    text-decoration: none;
    margin-right: 18px;
    color: white;
    font-size: 18px;
}